{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
        
      
          <!-- Login Form -->
          <h1 style="text-align: center;margin-top: 2%;margin-left:-1%;">Login:</h1>
          <form method="POST" style="margin-left: 40%; margin-top: 5%;">
            {{message}}
            {% csrf_token %}
            <input type="text" id="login" class="form-control" name="username" placeholder="login" style="width: 30%;" > <br>
            <input type="text" id="password" class="form-control" name="password" placeholder="password"style=" margin-top: 2%;width: 30%;"><br>
            <input type="submit" class="btn btn-secondary" value="Log In" name="btn"style="margin-left:10%; margin-top: 2%;"> <br>
            <a href={% url 'register' %} class="btn fadeIn fourth" style="margin-left:9%; margin-top: 1%;">SignUp</a>
          </form>
      
      
        </div>
      </div>

</body>
</html>

